<%- include ("../partilas/admin") %>

    <section class="content-main">
        <form method="post" action="/admin/addproduct" id="form" enctype="multipart/form-data">
            <% if (locals.message) { %>
                <p>
                    <%= message %>
                </p>
                <% } %>
                    <div class="row">
                        <div class="col-9">
                            <div class="content-header">
                                <h2 class="content-title">Add New Product</h2>

                            </div>
                        </div>
                        <div class="col-lg-6" style="width: 100%;">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="mb-4">
                                        <label for="product_title" class="form-label">Product ID</label>
                                        <input type="text" name="productId" placeholder="Type here"
                                            onblur="validateId()" class="form-control" id="product_id">
                                        <p id="productError" class="text-danger "></p>
                                    </div>
                                    <div class="mb-4">
                                        <label for="product_title" class="form-label">Product title</label>
                                        <input type="text" name="productName" placeholder="Type here"
                                            onblur="validateTittle()" class="form-control" id="product_title">
                                        <p id="productTitleError" class="text-danger "></p>
                                    </div>
                                    <div class="row gx-3">
                                        <div class="col-md-4  mb-3">
                                            <label for="product_color" class="form-label">Color</label>
                                            <input type="text" placeholder="Type here" name="color"
                                                onkeyup="validateColor()" class="form-control" id="product_color">
                                            <p id="productColorError" class="text-danger "></p>
                                        </div>



                                        <!-- <  CHECK BOX -->
                                        <div class="col-md-4 mb-3">
                                            <label for="product_size" class="form-label"  required>Size</label>
                                            <select name="size" class="form-control" id="product_size">
                                                <option value="Small">Small</option>
                                                <option value="Medium">Medium</option>
                                                <option value="Large">Large</option>
                                                <option value="Extra-Large">Extra-Large</option>
                                            </select>
                                         
                                        </div>


                                        <div class="col-md-4  mb-3">
                                            <label for="product_size" class="form-label">quantity</label>
                                            <input type="text" placeholder="Type here" onblur="validateQuantity()"
                                                name="quantity" class="form-control" id="product_quantity">
                                            <p id="productQuantityError" class="text-danger "></p>
                                        </div>
                                        <div class="mb-4" style="width:20%;">
                                            <label class="form-label">Price</label>
                                            <input type="text" name="price" placeholder="Type here"
                                                onkeyup="validatePrice()" class="form-control" id="product_price">
                                            <p id="productPriceError" class="text-danger "></p>
                                        </div>
                                        <div class="mb-4" style="width:20%;">
                                            <label class="form-label">Selling price</label>
                                            <input type="text" name="sellingPrice" onblur="validateSellingPrice()"
                                                placeholder="Type here" class="form-control" id="sellingPrice">
                                            <p id="sellingPriceError" class="text-danger "></p>
                                        </div>
                                        <div class="mb-4">
                                            <label class="form-label">category</label>
                                            <select class="form-select" name="categories">
                                                <% if (locals.category) { %>
                                                    <% for( let i=0; i < category.length; i++ ) { %>
                                                        <option value="<%=category[i]._id %>">
                                                            <%=category[i].categoryTitle %>
                                                        </option>


                                                        <% } %>

                                                            <% } %>

                                            </select>
                                        </div>
                                    </div>

                                </div>
                            </div> <!-- card end// -->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div>
                                        <label class="form-label">Description</label>
                                        <input type="text" name="description" placeholder="Type here"
                                            onblur="validateDescription()" class="form-control" id="product_Description"
                                            rows="4">
                                        <p id="productDescriptionError" class="text-danger "></p>
                                    </div>
                                </div>
                            </div> <!-- card end// -->
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div>
                                        <label class="form-label">Images</label>
                                        <input class="form-control" name="images" type="file" id="Images"  required multiple>
                                        <p id="productImageError" class="text-danger "></p>

                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <!-- <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button> -->
                                <input type="submit" value="submit" class="btn btn-success">
                                <p id="submitError" class="text-danger error"></p>
                            </div> <!-- card end// -->
                        </div>

        </form>
    </section>

    <script>

        const productId = document.getElementById("product_id")
        const product_title = document.getElementById("product_title")
        const product_color = document.getElementById("product_color")
        const product_size = document.getElementById("product_small")
        const product_quantity = document.getElementById("product_quantity")
        const product_Description = document.getElementById("product_Description")
        const productPrice = document.getElementById("product_price")
        const sellingPrice = document.getElementById("sellingPrice")
        const productError = document.getElementById("productError")
        const productTitleError = document.getElementById("productTitleError")
        const productColorError = document.getElementById("productColorError")
        const productSizeSmallError = document.getElementById("productSizeSmallError")
        const productQuantityError = document.getElementById("productQuantityError")
        const productDescriptionError = document.getElementById("productDescriptionError")
        const productPriceError = document.getElementById("productPriceError")
        const sellingPriceError = document.getElementById("sellingPriceError")


        function validateId() {
            productvalue = productId.value.trim()
            if (productvalue == "") {
                productError.innerHTML = "product id is required"
                productError.style.display = "block"
            } else if (productvalue.length > 15) {
                productError.innerHTML = "Enter a valid id"
                productError.style.display = "block"
            } else {
                productError.innerHTML = ""
                productError.style.display = "none"
            }
        }

        function validateTittle() {
            const productName = product_title.value.trim()
            if (productName == "") {
                productTitleError.style.display = "block"
                productTitleError.innerHTML = "product Name must be required"
            } else if (productName.length > 30) {
                productTitleError.style.display = "block"
                productTitleError.innerHTML = "product Name must be short"
            } else {
                productTitleError.innerHTML = ""
                productTitleError.style.display = "none"
            }
        }

        function validateColor() {
            const color = product_color.value.trim()
            if (color == '') {
                productColorError.style.display = "block"
                productColorError.innerHTML = "this flied must be required"
            } else if (color.length > 20) {
                productColorError.style.display = "block"
                productColorError.innerHTML = "color must valid"
            } else {
                productColorError.style.display = "none"
                productColorError.innerHTML = ""
            }
        }

        // function validateSize() {
        //     const size = product_size.value.trim()
        //     const smallPatters = /^[a-z]+$/;
        //     if (size == "") {
        //         productSizeSmallError.style.display = "block"
        //         productSizeSmallError.innerHTML = "size must be required"
        //     } else if (!smallPatters.test(size)) {
        //         productSizeSmallError.style.display = "block"
        //         productSizeSmallError.innerHTML = "please you small character"
        //     } else {
        //         productSizeSmallError.style.display = "none"
        //         productSizeSmallError.innerHTML = ""
        //     }


        // }



        function validateQuantity() {
            const int = /^[1-9][0-9]*$/
            const quantity = product_quantity.value.trim()
            if (quantity === "") {
                productQuantityError.style.display = "block"
                productQuantityError.innerHTML = "This filed must be required"
            } else if (!int.test(quantity)) {
                productQuantityError.style.display = "block"
                productQuantityError.innerHTML = "invalid quantity"

            }
            else {
                productQuantityError.style.display = "none"
                productQuantityError.innerHTML = ""
            }
        }
        function validateDescription() {
            const description = product_Description.value.trim()
            if (description == "") {
                productDescriptionError.style.display = "block"
                productDescriptionError.innerHTML = "Product Description must be required"
            } else if (description.length < 10) {
                productDescriptionError.style.display = "block"
                productDescriptionError.innerHTML = "Product Description is short"
            } else {
                productDescriptionError.style.display = "none"
                productDescriptionError.innerHTML = ""
            }
        }
        function validatePrice() {
            const price = parseFloat(productPrice.value.trim());
            if (price === "") {
                productPriceError.style.display = "block";
                productPriceError.innerHTML = "Invalid price";
            } else if (price < 0) {
                productPriceError.style.display = "block";
                productPriceError.innerHTML = "Invalid price";
            } else if (isNaN(price)) {
                productPriceError.style.display = "block";
                productPriceError.innerHTML = "Price must be required";
            } else {
                productPriceError.style.display = "none";
                productPriceError.innerHTML = "";
            }
        }




        function validateSellingPrice() {
            const selling = parseFloat(sellingPrice.value.trim());
            const price = parseFloat(productPrice.value.trim());
            if (selling > price) {
                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "INvalid price1!"
            } else if (isNaN(selling)) {
                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "INvalid price2!"
            } else if (selling < 0) {
                sellingPriceError.style.display = "block"
                sellingPriceError.innerHTML = "INvalid price3!"
            }
            else {
                sellingPriceError.style.display = "none"
                sellingPriceError.innerHTML = ""
            }
        }



        document.getElementById("form").addEventListener("submit", (e) => {
         
            validateId()
         
            validateTittle()
         
            validateColor()
        
            validateQuantity()
         
            validateDescription()
         
            validatePrice()
       
            validateSellingPrice()
          
       
            if (productError.innerHTML || productTitleError.innerHTML || productColorError.innerHTML || productSizeSmallError.innerHTML || productDescriptionError.innerHTML || sellingPriceError.innerHTML || productPriceError.innerHTML) {
    
                e.preventDefault();
            } else {
                alert("form else")


            }
        });


    </script>