<%- include ("../partilas/userheader") -%>

    <div class="container" style="margin: 150px; text-align: center;">
        <h1>Order Placed Successfully!</h1>
        <p>Thank you for your order. Your order has been successfully placed.</p>
        <p>Your order will be processed shortly.</p>
        <a href="/order" class="button">View order</a>
        <a href="/" class="button">Continue Shopping</a>
    </div>

<%- include ("../partilas/userfooter") -%>